body{
    overflow: hidden;
}
.main{
  overflow-x: hidden;
}

#onlineDiv{
    display: block;
    border-right:1px solid #780116;
    background-color: #bfc2cc;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 16;
}
#chatDiv{
    padding: 0;
}
.header{
    text-align: center;
    position: relative;
    padding-top: 10px;
    /*border-bottom: 1px solid #780116;
    /*background-color: #bfc2cc;*/
}
#close {
  position: absolute;
  right: 10px;
  top: 0;
  display: none;
  cursor: pointer;
}
#messagesDiv{
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
  background-color: white!important;
  border:1px solid #ced4da;
  border-radius: .25rem;
  margin: 25px 25px 0 25px;
  position: relative;
  bottom: 20px;
  height: 72vh;
  padding: 10px;
}
#messagesDiv::-webkit-scrollbar {
  width: 7px;
}

#messagesDiv::-webkit-scrollbar-track {
  background: #e8ebf7;
}

#messagesDiv::-webkit-scrollbar-thumb {
  background: #780116;
}
#sendMessageDiv{
  padding: 25px;
  position: absolute;
  bottom: 0;
  left: 15px;
}
#sendMessageDiv textarea:focus{
  box-shadow: none;
}
#sendMessageDiv textarea{
  resize: none;
  padding-right: 85px;
}

#uploadImage{
  position: relative;
  height: 100%;
  cursor: pointer!important;
  z-index: 10;
  left: -40px;
  top: 30px;
  transform: translate(-50%,-50%);
}

#uploadImageInput{
  width: 0px;
  height: 0px;
}

#uploadImageInput:focus{
  	box-shadow: none!important;
}

#onlineUserToggleBtn{
  color: black;
  display: none;
  border: none!important;
  background: none!important;
  box-shadow:none !important;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 30px;
  transform: translate(-50%,-50%);
}
#onlineUserToggleBtn:hover,#close:hover{
  color: rgba(0, 0, 0, 0.5) !important;

}

.onlineUserLink{
    text-decoration: none;
    color: inherit;
}
.onlineUserLink:hover{
    text-decoration: none;
    color: inherit;
}
.onlineUserLink:hover .onlineUserDiv{
    background-color: #d0d3dd;
}

.onlineUserDiv img{
   height: 60px;
   width: 60px;
}
.onlineUserDiv p{
    display: inline-block;
}
/*Big image*/
#background{
  background-color: #b0b0b0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 15;
  opacity: .7;
  display: none;
}

#bigImage{
  width: 100%;
  height: 100%;
  z-index: 82;
}

#bigImageDiv{
  display: none;
  position: absolute;
  transform:translate(-50%,-50%);
  top: 50%;
  left: 50%;
  z-index:99;
  height:100vh;
  width:100vw;
}
#bigImageInsideDiv{
  z-index:81;
}
#previousPicture, #nextPicture{
  position: absolute;
  transform:translate(-50%,-50%);
  top: 50%;
  opacity: 0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
  cursor: pointer;
  z-index: 83;
}
#previousPicture{
  left: 40px;
}
#nextPicture{
  right: 5px;
}
#closePicture{
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
  cursor: pointer;
  z-index: 83;
}

#previousPicture:hover,
#nextPicture:hover,
#closePicture:hover{
  opacity: 1!important;
  transition: opacity .10s ease-in-out;
  -moz-transition: opacity .10s ease-in-out;
  -webkit-transition: opacity .10s ease-in-out;
}


#bigImageInsideDiv:hover  .imageHud
{
  opacity: .7;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
}


/*message*/
.message{
  max-width: 60%;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.message div{
  background-color: #e8ebf7;
  border: 1px solid #ced4da;
  border-radius: 25px;
}
.profilePicture{
  float: left;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: 5px;
}
.messageText {
  margin:15px;
  display: inline-block;
}
.messagePicture{
  height: 100%;
  width: 100%;
  border-radius: .25rem;
  cursor: pointer;
}
.messageDate{
  color: #b0b0b0;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 0;
}
#searchLink{
  text-decoration:none;
  color:#de1a1a;
}
#searchLink:hover{
  color:#780116;
}
.right{
  align-self:flex-end;
}
.right .profilePicture{
  display: none;
}

/*------*/


@media (max-width: 991.98px) {
  #onlineUserToggleBtn{
    display: block;
  }
  #close{
    display: block;
  }
  #onlineDiv{
      display: none;
      border-right:1px solid #780116;
  }
  #chatDiv{
      margin:0 auto;
      min-width: 100%;
      border:1px solid #780116;
  }
  #bigImageDiv{
      /*width: 95%;*/
  }
}
@media (min-width: 992px) {
  #onlineDiv{
      display: block!important;
      max-width: 50%!important;
      position: relative!important;
      left: none;
  }
}
@media (max-height: 700px) {
  #messagesDiv{
      height: 65vh;
  }
}
@media (max-width: 455px) {
    .message{
        max-width: 80%;
    }
}
@media (max-height: 550px) {
  #messagesDiv{
      height: 55vh;
  }
  #bigImageDiv{
      top:55%;
  }
}
@media (max-height: 435px) {
  #messagesDiv{
      height: 45vh;
  }
}
@media (max-height: 390px) {
  #bigImageDiv{
      top:60%;
      /*height: 70vh;*/
  }
}
@media (max-height: 350px) {
  #messagesDiv{
      height: 40vh;
  }
}
