body{
	overflow: hidden;
}

.alert-danger{
  position: fixed;
  width: 48%;
  color: white;
  background-color: #de1a1a;
  border-color: #780116;
}

.close{
  text-shadow: none;
}
@media (max-width: 991.98px) {
	body{
		overflow:auto;

	}
	.alert-danger{
		width:95%;
		position: absolute;
		display: run-in;
		margin: auto;
	}
}
