body section:nth-of-type(2),body section:nth-of-type(3){
  margin: 1%;
  padding: 1%;
  background-color:rgba(0,0,0,0.2);
}
/*alert box*/
.alert-warning{
  font-size: 1rem;
  display:block;
  position: fixed;
	margin:auto;
  color: white;
	z-index: 1051;
	left: 50%;
  right: 50%;
	width: 70%;
	transform: translate(-50%);
  background-color: #de1a1a;
  border-color: #780116;
}
.close{
  text-shadow: none;
}
.card{
  margin: 3vh auto;
  padding: 0;
  box-shadow: 0px 5px 15px 1px grey;
  cursor: pointer;
}
.card-title{
	height: 24px;
}
.card-text{
	height: 100px;
	white-space: pre;
	word-wrap: break-word;
	text-overflow: ellipsis;
  	overflow: hidden;

}
.rating{
	margin-bottom:0;
	margin-top:auto;
}

#like-btn{
  background-color: green!important;
  color: white;
}
#dislike-btn{
  background-color: #D20000!important;
  color: white;
}

#like-btn:active,#dislike-btn:active  {
  -ms-transform: scale(0.9, 0.9); /* IE 9 */
  -webkit-transform: scale(0.9, 0.9); /* Safari */
  transform: scale(0.9, 0.9);
}

#Name{
  text-align: center;
}
#JobTitle{
  margin-bottom: 0;
}
#JobState{
  position: relative;
  top: -8px;;
  padding-top:0;
}

#JobDescription:not(:empty){
  position: relative;
  top: -10px;
  background-color: #e8ebf7;
  border: 1px solid gray;
}
