/*alert box*/
.alert-danger{
  display:block;
  opacity: 0;
  position: fixed;
	margin:auto;
  color: white;
	z-index: 1051;
	left: 50%;
  right: 50%;
	width: 70%;
	transform: translate(-50%);
  background-color: #de1a1a;
  border-color: #780116;
}
.close{
  text-shadow: none;
}
/*-------*/
.form-group h5{
	border-bottom:2px solid #780116;
}
.profileImage{
	position: relative;
	background-size: cover;
	padding: 0px;
}
.profileImage i{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	transform: scale(2,2);
	display: none;
}
.profileImage:hover{
	background-color: black;
	opacity: .5;
	background-color: black;
}
.profileImage:hover i {
	display: block;
	opacity: 1;
}
textarea{
  resize: none;
}
/* egyedi file input */
#fileToUpload{
	height: 0px;
	width: 0px;
	outline: none;

}
#fileToUpload:focus{
	box-shadow: none!important;

}
.profileImage label {
	height: 100%;
	width: 100%;
	margin: 0;
}
.profileImage #hiddenUploadBtn{
	display: none;
}
#changePasswordModal{
  padding: 0!important;
}
#inputJobDescription::-webkit-scrollbar {
  width: 7px;
}

#inputJobDescription::-webkit-scrollbar-track {
  background: #e8ebf7;
}

#inputJobDescription::-webkit-scrollbar-thumb {
  background: #780116;
}
@media (max-width: 575.98px) {
	.profileImage{
		height: 250px;
	}
}
