#contractors{
	position: absolute;
	right: 0;
}

/*searchbar css*/
#searchBar{
	border-right:2px solid #780116;
	height:100vh;
	position: fixed;
}

div[data-toggle="buttons"] {
  padding-right: 0px;
}

.btn-group{
	display:block;
}
.page-link{
	border-radius: 0;
}
.page-item.active .page-link{
	border: 1px solid transparent;
	background-color: #de1a1a!important;
}
.orderRadioBtnIcon,
.orderMainLabel,
.orderCheckbox{
  /*all:unset;*/
  height: 30px;
  background-color: #780116;
}


.orderRadioBtnIcon{
  float:left;
  display:flex;
  height: 30px;
  width: 30px;
  cursor:pointer;
  border-right: 2px solid #de1a1a!important;
  border-radius: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.orderRadioBtn{
  display:none;
}

.orderMainLabel{
  color:white;
  width: 119.5px;
  text-align: center;
  align-self: center;
}

.orderCheckbox{
  display: none;
}

.orderCheckboxIcon {
  background-color: #780116;
  /*border: 3px solid #7e8a94;*/
  border-left: 2px solid #de1a1a;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  float: right;
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: flex;
  padding-right: 4px;
  justify-content: center;
  align-items: center;
}

.orderCheckbox:hover + .orderCheckboxIcon{
  font-size: 20px;
}
.orderCheckbox:checked + .orderCheckboxIcon:before {
  content: "\25BC";
	/*content: "\25B2";*/
	/*-webkit-animation:spin 1s linear forwards ;
	-moz-animation:spin 1s linear forwards ;
	animation:spin 1s linear forwards ;*/
  color:white;
}


.orderCheckbox:not(:checked) + .orderCheckboxIcon:before {
  content: "\25B2";
	/*-webkit-animation:backward 1s linear forwards ;
	-moz-animation:backward 1s linear forwards ;
	animation:backward 1s linear forwards ;*/
  color:white;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(180deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(180deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(180deg); transform:rotate(180deg); } }

@-moz-keyframes backward { 100% { -moz-transform: rotate(180deg); } }
@-webkit-keyframes backward { 100% { -webkit-transform: rotate(180deg); } }
@keyframes backward { 100% { -webkit-transform: rotate(180deg); transform:rotate(180deg); } }

.orderRadioBtn:checked + .orderRadioBtnIcon{
  background-color:#de1a1a!important;
}
.orderRadioBtn:not(:checked) + .orderRadioBtnIcon {
  background-color:#780116!important;
}

@media (max-width: 1199.98px) {
	#searchBar{
		position: relative;
		border: none;
		border-bottom:2px solid #780116;
		width: 100vw;
		height: 100%;
	}

	#contractors{
		position: relative;
	}

	.orderDiv{
		display: inline-flex!important;
		width: 300px!important;
	}


}

/*---------*/
.card{
  margin: 3vh auto;
  height: 280px;
  padding: 0;
  box-shadow: 0px 5px 15px 1px grey;
  cursor: pointer;
}
.card-title{
	height: 24px;
}
.card-text{
	height: 100px;
	white-space: pre;
	word-wrap: break-word;
	text-overflow: ellipsis;
  	overflow: hidden;

}
.rating{
	margin-bottom:0;
	margin-top:auto;
}

#like-btn{
  background-color: green!important;
  color: white;
}
#dislike-btn{
  background-color: #D20000!important;
  color: white;
}

#like-btn:active,#dislike-btn:active  {
  -ms-transform: scale(0.9, 0.9); /* IE 9 */
  -webkit-transform: scale(0.9, 0.9); /* Safari */
  transform: scale(0.9, 0.9);
}

#Name{
  text-align: center;
}
#JobTitle{
  margin-bottom: 0;
}
#JobState{
  position: relative;
  top: -8px;;
  padding-top:0;
}

#JobDescription:not(:empty){
  position: relative;
  top: -10px;
  background-color: #e8ebf7;
  border: 1px solid gray;
}
