.navbar, .btn{
	background-color:#780116!important;
}
.nav-link:hover{
	color: rgba(255, 255, 255, 0.5)!important;
}
.btn-group .active{
	background-color:#de1a1a!important;
}
.close:focus{
	box-shadow: none!important;
	outline: none!important;
}
.btn{
	/*border:none!important;
	border:1px solid #dee2e6!important;*/
	border: 1px solid transparent;
	color: white;
}
.btn:hover:not(:disabled):not(.active){
	color: rgba(255, 255, 255, 0.5)!important;
	border-color: #dee2e6;
}
.active{
	cursor: default!important;
}
body{
	height:100%;
	background-color:#e8ebf7;
}
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: #e8ebf7;
}

body::-webkit-scrollbar-thumb {
  background: #780116;
}
#welcome{
	background-image:url("../images/workers.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: top;
	margin:none;
	text-align: center;
	font-size:2em;
	height:44vh;
	width:100%;
	margin-left:0px ;
	margin-right:0px;

}
#loginImage{
	background-image:url("../images/nextToLogin.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}
.section-text{
	background-color:rgba(0,0,0,0.2);
	color:White;
}

.main{
	margin:auto;
}

.form-section div form{
	margin:auto;
	width:60vw;
}

input:focus , button:focus{
	box-shadow:0 0 0.3rem 0.2rem rgba(210,0,0,.50)!important;
}
.form-icon{
	display: none;
	float: right;
	position: relative;
	z-index: 2;
	top: -26px;
	left: -7px;
}

.popover-header{
	background-color:#780116!important;
	color:#e8ebf7!important;
}
.popover-body{
	background-color:#e8ebf7!important;
}
.arrow {
    border-right-color: #e8ebf7!important;
}

.profileImage{
   background-repeat:no-repeat;
   background-size: cover;
   background-position: center;
	 width: 100%;
	 /*height: 100%;*/
}

.avg{
	color:#fd7e14;
}

.good{
    color: lightgreen;
}

.bad{
    color: red;
}
